body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
  display: block;
  margin: 8px;
}

.content {
  max-width: 700px;
  margin: 60px auto;
  padding: 40px 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.952);
}

h1 {
  color: black;
  text-align: center;
}

.enterCity {
  margin-left: 20px;
  margin-bottom: 13px;
}

h2 {
  margin-top: 37px;
  margin-left: 22px;
}
.weatherDate {
  list-style: none;
  text-align: right;
  position: relative;
  margin-top: -45px;
  text-transform: capitalize;
}

.localTemp {
  font-weight: bold;
  font-size: 47px;
  position: relative;
  top: -5px;
}

.icon {
  position: relative;
  top: -15px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -28px;
}

.weather-temperature .active {
  cursor: default;
  color: black;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.percentages {
  list-style: none;
  position: relative;
  margin-top: -100px;
  margin-left: 200px;
}

.containerDays {
  margin-top: 40px;
  text-align: center;
}
.rowEmoji {
  font-size: 40px;
  text-align: center;
}
.low-high {
  font-size: 13px;
  text-align: center;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temeratures {
  font-size: 13px;
}
